
.main {
	width: 1000px;
	border: 1px dotted #ddd;
	overflow: hidden;
	clear: both;
	margin: 50px auto 0px auto;
	padding: 10px 15px;
}

/* FAQ Styles */
.question {
	background:#fafafa url(toggle.png) no-repeat 5px 10px;
	border: 1px solid #e2e2e2;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
	color: #414550;
	margin:0 0 5px;
	padding: 10px 10px 10px 25px;
}
.question.active {
	background: #F0F0F0 url(toggle.png) no-repeat 5px -75px;
	border-bottom: 1px solid #e2e2e2;
	margin:0 0 5px;
}
.question:hover {
	background-color: #F0F0F0;
}
.answer {
	padding: 5px 10px;
}